@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
* {
body .containerr {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 660px;
  margin: auto;
}
body .containerr a.download, body .containerr a.follow {
  text-align: center;
  margin-top: 80px;
  width: 300px;
  float: left;
  display: inline-block;
  padding: 16px 30px;
  background: #41efb6;
  color: white;
  font-weight: 900;
  font-family: 'nunito';
  text-decoration: none;
  border-radius: 4px;
  margin-right: 12px;
}
body .containerr a.download i, body .containerr a.follow i {
  margin-right: 10px;
}
body .containerr a.follow {
  float: left;
  padding: 14px 30px;
  background: none;
  color: white;
  border: 2px solid white;
}
body .containerr a.follow:hover {
  color: #41efb6;
  border-color: #41efb6;
}
body .containerr a {
  color: #28ecc3;
}
body .containerr h1 {
  color: white;
  text-align: center;
  margin: 0;
}
body .containerr h2 {
  margin: 10px 0px 80px 0px;
  color: white;
  font-size: 14px;
  text-align: center;
}
body .containerr_button {
  border: 2px solid #28ecc3;
  width: 200px;
  text-align: center;
  height: 48px;
  padding: 2px 4px;
  border-radius: 100px;
  color: white;
  margin: 0 auto;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
body .containerr_button:hover {
  box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
  background: #28ecc3;
}
body .containerr_button:hover span i {
  margin-right: 10px;
}
body .containerr_button:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}
body .containerr_button__bar {
  width: 0%;
  position: absolute;
  height: 8px;
  top: 4px;
  border-radius: 100px;
  background: -webkit-linear-gradient(left, #28ecc3 0%, #0bc9a1 100%);
}
body .containerr input {
  display: none;
}
body .containerr input:checked + label .containerr_button span span {
  opacity: 0;
  left: 40px;
}
body .containerr input:checked + label .containerr_button span i {
  opacity: 0;
  left: -40px;
}
body .containerr input:checked + label .containerr_button {
  animation: base 0.96s 0.12s cubic-bezier(0.755, -0.245, 0.175, 1) forwards, pulse 0.5s forwards, final 0.3s 3.6s forwards;
}
body .containerr input:checked + label .containerr_button .downloading {
  animation: pop 0.2s 1s forwards, popout 0.2s 3.4s forwards;
}
body .containerr input:checked + label .containerr_button .d_icon {
  animation: d_icon 0.6s 1s forwards, wobble 0.4s 3.58s forwards, iconout 0.14s 4.45s forwards;
}
body .containerr input:checked + label .containerr_button .complete {
  animation: d_icon 0.14s 4.55s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(1) {
  animation: dot 0.14s 4.00385s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(2) {
  animation: dot 0.14s 4.00769s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(3) {
  animation: dot 0.14s 4.01154s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(4) {
  animation: dot 0.14s 4.01538s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(5) {
  animation: dot 0.14s 4.01923s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(6) {
  animation: dot 0.14s 4.02308s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(7) {
  animation: dot 0.14s 4.02692s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(8) {
  animation: dot 0.14s 4.03077s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(9) {
  animation: dot 0.14s 4.03462s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(10) {
  animation: dot 0.14s 4.03846s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(11) {
  animation: dot 0.14s 4.04231s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(12) {
  animation: dot 0.14s 4.04615s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(13) {
  animation: dot 0.14s 4.05s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(14) {
  animation: dot 0.14s 4.05385s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(15) {
  animation: dot 0.14s 4.05769s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(16) {
  animation: dot 0.14s 4.06154s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(17) {
  animation: dot 0.14s 4.06538s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(18) {
  animation: dot 0.14s 4.06923s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(19) {
  animation: dot 0.14s 4.07308s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(20) {
  animation: dot 0.14s 4.07692s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(21) {
  animation: dot 0.14s 4.08077s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(22) {
  animation: dot 0.14s 4.08462s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(23) {
  animation: dot 0.14s 4.08846s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(24) {
  animation: dot 0.14s 4.09231s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(25) {
  animation: dot 0.14s 4.09615s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(26) {
  animation: dot 0.14s 4.1s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(27) {
  animation: dot 0.14s 4.10385s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(28) {
  animation: dot 0.14s 4.10769s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(29) {
  animation: dot 0.14s 4.11154s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(30) {
  animation: dot 0.14s 4.11538s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(31) {
  animation: dot 0.14s 4.11923s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(32) {
  animation: dot 0.14s 4.12308s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(33) {
  animation: dot 0.14s 4.12692s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(34) {
  animation: dot 0.14s 4.13077s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(35) {
  animation: dot 0.14s 4.13462s forwards;
}
body .containerr input:checked + label .containerr_button .point:nth-of-type(36) {
  animation: dot 0.14s 4.13846s forwards;
}
body .containerr input:checked + label .containerr_button:hover {
  box-shadow: none;
}
body .containerr input:checked + label .containerr_button__bar {
  animation: bar 2.6s 1.14s cubic-bezier(0.19, 1, 0.22, 1) forwards, barout 0.3s 3.2s forwards;
}
body .containerr label {
  cursor: pointer;
}
body .containerr label .downloading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 28px;
  opacity: 0;
  font-size: 12px;
}
body .containerr label .point {
  opacity: 0;
  width: 2px;
  height: 6px;
  transform-origin: 60px 0px;
  background: #28ecc3;
  border-radius: 10px;
  position: absolute;
  left: -11px;
  top: 50px;
}
body .containerr label .point:nth-of-type(1) {
  transform: rotate(10deg);
}
body .containerr label .point:nth-of-type(2) {
  transform: rotate(20deg);
}
body .containerr label .point:nth-of-type(3) {
  transform: rotate(30deg);
}
body .containerr label .point:nth-of-type(4) {
  transform: rotate(40deg);
}
body .containerr label .point:nth-of-type(5) {
  transform: rotate(50deg);
}
body .containerr label .point:nth-of-type(6) {
  transform: rotate(60deg);
}
body .containerr label .point:nth-of-type(7) {
  transform: rotate(70deg);
}
body .containerr label .point:nth-of-type(8) {
  transform: rotate(80deg);
}
body .containerr label .point:nth-of-type(9) {
  transform: rotate(90deg);
}
body .containerr label .point:nth-of-type(10) {
  transform: rotate(100deg);
}
body .containerr label .point:nth-of-type(11) {
  transform: rotate(110deg);
}
body .containerr label .point:nth-of-type(12) {
  transform: rotate(120deg);
}
body .containerr label .point:nth-of-type(13) {
  transform: rotate(130deg);
}
body .containerr label .point:nth-of-type(14) {
  transform: rotate(140deg);
}
body .containerr label .point:nth-of-type(15) {
  transform: rotate(150deg);
}
body .containerr label .point:nth-of-type(16) {
  transform: rotate(160deg);
}
body .containerr label .point:nth-of-type(17) {
  transform: rotate(170deg);
}
body .containerr label .point:nth-of-type(18) {
  transform: rotate(180deg);
}
body .containerr label .point:nth-of-type(19) {
  transform: rotate(190deg);
}
body .containerr label .point:nth-of-type(20) {
  transform: rotate(200deg);
}
body .containerr label .point:nth-of-type(21) {
  transform: rotate(210deg);
}
body .containerr label .point:nth-of-type(22) {
  transform: rotate(220deg);
}
body .containerr label .point:nth-of-type(23) {
  transform: rotate(230deg);
}
body .containerr label .point:nth-of-type(24) {
  transform: rotate(240deg);
}
body .containerr label .point:nth-of-type(25) {
  transform: rotate(250deg);
}
body .containerr label .point:nth-of-type(26) {
  transform: rotate(260deg);
}
body .containerr label .point:nth-of-type(27) {
  transform: rotate(270deg);
}
body .containerr label .point:nth-of-type(28) {
  transform: rotate(280deg);
}
body .containerr label .point:nth-of-type(29) {
  transform: rotate(290deg);
}
body .containerr label .point:nth-of-type(30) {
  transform: rotate(300deg);
}
body .containerr label .point:nth-of-type(31) {
  transform: rotate(310deg);
}
body .containerr label .point:nth-of-type(32) {
  transform: rotate(320deg);
}
body .containerr label .point:nth-of-type(33) {
  transform: rotate(330deg);
}
body .containerr label .point:nth-of-type(34) {
  transform: rotate(340deg);
}
body .containerr label .point:nth-of-type(35) {
  transform: rotate(350deg);
}
body .containerr label .point:nth-of-type(36) {
  transform: rotate(360deg);
}
body .containerr label .complete {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%) scale(0);
  font-size: 32px;
}
body .containerr label .d_icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%) scale(0);
  font-size: 32px;
}
body .containerr label span {
  opacity: 1;
  transition: all 0.18s;
  position: relative;
  top: -3px;
}
body .containerr label span i {
  font-size: 22px;
  margin-right: 6px;
  position: relative;
  left: 0;
  transition: all 0.2s;
  top: 3px;
}
body .containerr label span span {
  left: 0;
  top: 0px;
  transition: all 0.2s;
}
body .containerr label span .large {
  position: absolute;
  opacity: 0;
  transition: all 0.3s 0.1s;
  left: -59px;
  top: -21px;
  font-size: 60px;
}
@keyframes base {
  0% {
    border: none;
  }
  50% {
    width: 20px;
    height: 40px;
    background: #28ecc3;
    height: 16px;
    border: none;
  }
  75% {
    background: rgba(0, 0, 0, 0.34);
    border: none;
  }
  76% {
    width: 405px;
    height: 16px;
    background: rgba(0, 0, 0, 0.34);
    border: none;
  }
  88% {
    width: 384px;
    height: 16px;
    background: rgba(0, 0, 0, 0.34);
    border: none;
  }
  100% {
    width: 400px;
    height: 16px;
    background: rgba(0, 0, 0, 0.34);
    border: none;
  }
}
@keyframes bar {
  100% {
    width: 98%;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.08);
  }
  100% {
    box-shadow: 0px 0px 0px 1920px rgba(0, 0, 0, 0);
  }
}
@keyframes pop {
  100% {
    opacity: 1;
    top: 23px;
  }
}
@keyframes popout {
  0% {
    opacity: 1;
    top: 23px;
  }
  100% {
    opacity: 0;
    top: 28px;
  }
}
@keyframes barout {
  100% {
    opacity: 0;
  }
}
@keyframes final {
  0% {
    background: rgba(0, 0, 0, 0.34);
  }
  50% {
    background: rgba(0, 0, 0, 0.34);
    width: 100px;
    height: 100px;
    box-shadow: none;
  }
  100% {
    width: 100px;
    height: 100px;
    background: none;
  }
}
@keyframes d_icon {
  0% {
    transform: translateY(-50%) scale(0);
  }
  25% {
    transform: translateY(-50%) scale(1.2);
  }
  50% {
    transform: translateY(-50%) scale(0.9);
  }
  75% {
    transform: translateY(-50%) scale(1.1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}
@keyframes iconout {
  0% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(0);
  }
}
@keyframes dot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wobble {
  0% {
    transform: translateY(-50%) scale(1);
  }
  25% {
    transform: translateY(-50%) scale(1.2);
  }
  50% {
    transform: translateY(-50%) scale(0.9);
  }
  75% {
    transform: translateY(-50%) scale(1.1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}
