
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100);

.captchaField { 
  border: 0.25px solid #0000002e;
  padding: 5px; 
  max-width: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 25%);
}



.CaptchaWrap { position: relative; }
.CaptchaTxtField { 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  display: block;  
  box-sizing: border-box;
}

#UserCaptchaCode { 
    padding: 3px 3px;
    outline: none;
    font-size: 14px;
  font-weight: normal; 
  font-family: 'Open Sans', sans-serif;
  width: 230px;
}
#CaptchaImageCode { 
  text-align:center;
  margin-top: 5px;
  padding: 0px 0;
  width: 200px;
  overflow: hidden;
}

.capcode { 
  font-size: 26px; 
  display: block; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
  cursor: default;
  letter-spacing: 1px;
  color: #ccc;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: italic;
}

.ReloadBtn { 
  background:url('https://cdn3.iconfinder.com/data/icons/basic-interface/100/update-64.png') left top no-repeat;   
  background-size : 100%;
  width: 25px; 
  height: 25px;
  border: 0px; outline none;
  position: absolute; 
  bottom: 40px;
  left : 205px;
  outline: none;
  cursor: pointer; /**/
}
.btnSubmit {
  margin-top: 5px;
  border: 0px;
  padding: 3px 10px; 
  border-radius: 15px;
  font-size: 14px;
  background-color: #1285c4;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 35%);
}

.error { 
  color: red; 
  font-size: 12px; 
  display: none; 
}
.success {
  color: green;
  font-size: 12px;
  margin-bottom: 5px;
  display: none;
}
