.simple-gallery {
  width: 408px;
  display: block;
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 20px 60px 10px Gray;
}

img {
  border-top: 1px solid Gainsboro;
  border-left: 1px solid Gainsboro;
}

.mini img {
  width: 98px;
  height: 98px;
  float: left;
  margin: 4px 4px 0px 0px;
  cursor: pointer;
}

.mini img:nth-of-type(4) {
  margin-right: 0px;
}

.maxi {
  width: 407px;
  height: 400px;
  display: block;
}
